<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
  "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
  "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/postgres</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">admin</property>
        <mapping class="pl.foodapp.database.AccountTypesEntity"/>
        <mapping class="pl.foodapp.database.AccountsEntity"/>
        <mapping class="pl.foodapp.database.BasketsEntity"/>
        <mapping class="pl.foodapp.database.ComplaintsEntity"/>
        <mapping class="pl.foodapp.database.DiscountsEntity"/>
        <mapping class="pl.foodapp.database.DishTypesEntity"/>
        <mapping class="pl.foodapp.database.DishesEntity"/>
        <mapping class="pl.foodapp.database.FavoritesEntity"/>
        <mapping class="pl.foodapp.database.OrderedDishesEntity"/>
        <mapping class="pl.foodapp.database.OrdersEntity"/>
        <mapping class="pl.foodapp.database.PaymentMethodsEntity"/>
        <mapping class="pl.foodapp.database.RestaurantsEntity"/>
        <mapping class="pl.foodapp.database.ReviewsEntity"/>
        <mapping class="pl.foodapp.database.StatusesEntity"/>
        <mapping class="pl.foodapp.database.WorkersEntity"/>
    </session-factory>
</hibernate-configuration>